a {
    color: #D3D3D3;
    font-weight: bold;
    text-align: center;

}

a:hover {
    color: #ffdb58;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: 	#D3D3D3;
    background-color: black;
    letter-spacing: .25rem;
    overflow: auto;
    height: 100%;
    font-size: .85rem;
}

button {
    padding: 30px;
    background-color: black;
    border: none;
    font-size: 1.25rem;
    color: white; 
}

button:active {
    background-color: gray;
}

button:focus {outline:0;}

button:hover {
    color: #ffdb58;
}

.center-txt {
    text-align: center;
}

.contact-btn {
    text-align: center;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;
    color: white;
    padding: 20px;
    letter-spacing: .25px;
}

h6 {
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    height: 100%;
    background-color: black;
}
.jumbotron-photo {
    width: 100%;
    height: 30%;
}

.jumbotron-text {
    padding: 2% 5%;
}

.jumbotron-title {
    padding-left: 2%;
}

.nav{
    background-color: black;
}

.nav-item {
    padding: 1% 4%;
}

.nav-link {
    color: gray;
}

/* The Modal*/
.modal {
    max-width: 50%;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    color: white;
    border-right: 5px solid #D3D3D3;
  }
  
.modal-photo {
    margin: 5% 15%;
    width: 75%;
}

.modal a.close-modal {
    top: 5px;
    right: 5px;
}


